@model USA_Music_Department.Models.Forms.Interest_Form.performanceMedium

<div class="checkbox-inline padding ">
    <div class="flex">
        @Html.CheckBoxFor(model => model.BM_Music_Education_Vocal, new { htmlAttributes = new { @class = "padding" } })
        @Html.LabelFor(model => model.BM_Music_Education_Vocal)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
    <div class="flex">
        @Html.CheckBoxFor(model => model.Music_Education_Instrumental)
        @Html.LabelFor(model => model.Music_Education_Instrumental)
    </div>
</div>



