@model USA_Music_Department.Models.Users.UserInformation

@{
    ViewBag.Title = "User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">User Roles</h2>

<div>
    <h4>@Model.Username</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.Label("Admin")
            @Html.CheckBoxFor(model => model.RoleAdmin)
        </dd>
        <dd>
            @Html.Label("Can Edit")
            @Html.CheckBoxFor(model => model.RoleCanEdit)
        </dd>
        <dd>
            @Html.Label("Can View")
            @Html.CheckBoxFor(model => model.RoleCanView)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
