@model USA_Music_Department.Models.db.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformanceMedium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformanceMedium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
