@model USA_Music_Department.Models.Forms.Interest_Form.StudentToAdd

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Student Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudentID)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentFirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentState, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterestAreas, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="checkbox-inline padding ">
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.BM_Music_Education_Vocal, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.BM_Music_Education_Vocal)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.BM_Music_Education_Instrumental, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.BM_Music_Education_Instrumental)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.BM_Music_Performance_Vocal, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.BM_Music_Performance_Vocal)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.BM_Music_Performance_Instrumental, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.BM_Music_Performance_Instrumental)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.BM_Music_Elective_Studies_Business, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.BM_Music_Elective_Studies_Business)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.BM_Music_Elective_Studies_Outside_Fields, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.BM_Music_Elective_Studies_Outside_Fields)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.MM_Collaborative_Piano, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.MM_Collaborative_Piano)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.MM_Performance_Vocal, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.MM_Performance_Vocal)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.MM_Performance_Piano, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.MM_Performance_Piano)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.MM_Concentration_in_Music_Education, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.MM_Concentration_in_Music_Education)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.Music_Minor, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.Music_Minor)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.Instrumental_Ensembles, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.Instrumental_Ensembles)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.Choral_Ensembles, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.Choral_Ensembles)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.Opera_Theatre, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.Opera_Theatre)
                </div>
                <div class="flex">
                    @Html.CheckBoxFor(model => model.InterestAreas.Jaguar_Marching_Band, new { htmlAttributes = new { @class = "padding" } })
                    @Html.LabelFor(model => model.InterestAreas.Jaguar_Marching_Band)
                </div>
                <div class="flex">
                    @Html.LabelFor(model => model.InterestAreas.Other, htmlAttributes: new { @class = "no-padding" })
                    @Html.EditorFor(model => model.InterestAreas.Other, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GraduationYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GraduationYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GraduationYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PerformanceMedium, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="PerformanceMedium">
                    <option value="@Model.PerformanceMedium">@Model.PerformanceMedium - Current</option>
                    <option value="Voice - Soprano">Voice - Soprano</option>
                    <option value="Voice - Mezzo Soprano">Voice - Mezzo Soprano</option>
                    <option value="Voice - Alto">Voice - Alto</option>
                    <option value="Voice - Tenor">Voice - Tenor</option>
                    <option value="Voice - Baritone">Voice - Baritone</option>
                    <option value="Voice - Bass">Voice - Bass</option>
                    <option value="Piano">Piano</option>
                    <option value="Flute">Flute</option>
                    <option value="Oboe">Oboe</option>
                    <option value="Bassoon">Bassoon</option>
                    <option value="Clarinet">Clarinet</option>
                    <option value="Saxophone">Saxophone</option>
                    <option value="Trumpet">Trumpet</option>
                    <option value="French Horn">French Horn</option>
                    <option value="Trombone">Trombone</option>
                    <option value="Euphonium">Euphonium</option>
                    <option value="Tuba">Tuba</option>
                    <option value="Percussion">Percussion</option>
                    <option value="Violin">Violin</option>
                    <option value="Viola">Viola</option>
                    <option value="Cello">Cello</option>
                    <option value="Double Bass">Double Bass</option>
                    <option value="Guitar">Guitar</option>
                    <option value="Colorguard">Colorguard</option>
                </select>
                @Html.ValidationMessageFor(model => model.PerformanceMedium, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
