@model IEnumerable<USA_Music_Department.Models.db.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
       alert('@TempData["alertMessage"]');
        </script>
    }
}
<h2 class="text-center padding">Students List</h2>
<div>
    @using (Html.BeginForm())
    {
        <div class="flex padding align-left">
            <div class="flex-item ">@Html.DropDownList("FilterType", (List<SelectListItem>)Session["filterType"], "-- Search By--", new { @class = "form-control" })</div>
            <div class="flex-item"><label class="control-label col-md-2" for="SearchString"> Filter text: </label></div>
            <div class="flex-item ">@Html.TextBox("SearchString", null, new { @class = "form-control" })</div>
            <div class="flex-item padding"><input class="btn btn-default" type="submit" value="Filter" /></div>
        </div>
    }
    <div class="align-right">
        <p>@Html.ActionLink(" Create New", "Create", "Students", new { @class = "btn btn-default glyphicon-plus" })</p>
        <p class="refresh-button">@Html.ActionLink(" ", "Index", "Students", null, new { @class = "glyphicon glyphicon-repeat" })</p>
    </div>
</div>

<table class="table sortable">
    <tr>
        <th>
            Student First Name
        </th>
        <th>
            Student Last Name
        </th>
        <th>
            Student Address
        </th>
        <th>
            Student City
        </th>
        <th>
            Student State
        </th>
        <th>
            Student Zip Code
        </th>
        <th>
            Student Phone
        </th>
        <th>
            Performance Medium
        </th>
        <th>
            Graduation Year
        </th>
        <th>
            Email Address
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformanceMedium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }) |&nbsp;&nbsp;
                @*@Html.ActionLink("Is Contacted", "StudentContact", new { id = item.StudentID }) |*@
                @Html.ActionLink("Contact List", "ContactsList", new { id = item.StudentID })
            </td>
        </tr>
    }
</table>

<p class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span>@Html.ActionLink(" Export All", "Export", "Students", new { exportDeffinition = "all" }, null)</p>
<p class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span>@Html.ActionLink(" Export Filtered List", "Export", "Students", new { exportDeffinition = "filteredList" }, null)</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}